@font-face {
	font-family: 'PTRootUIWebLight';
	src:
		url('./@fonts/PT-Root-UI_Light.woff2') format('woff2'),
		url('./@fonts/PT-Root-UI_Light.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}